#chart {
    display: flex;
    flex-direction: row;
    align-items: baseline; 
    border-bottom: 2px solid black;
    border-left: 2px solid black;
}

#chart svg {
    background-color: blue;

}

#chart svg:hover {
    background-color: lightblue;

}